<div class="col-md-6 mx-auto mt-3">
    <div class="card">
        <div class="card-header">
            <h3>New note</h3>
        </div>
        <div class="card-body">
            <form action="/profile/new-file" method="POST">
                <div class="form-group">
                    <input type="text" name="title" value="{{title}}" autofocus class="form-control" placeholder="Title"
                        required>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Description"
                        required>{{description}}</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>