<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere quis minima aliquid, tenetur et adipisci!
            Explicabo perferendis autem, id excepturi assumenda, voluptates consequatur exercitationem quisquam quam
            optio aspernatur. Sunt officia nam possimus cum! Esse dignissimos dolorem eaque, odit eius inventore?</p>

    </div>
</div>