<div class="jumbotron mt-4">
    <h1 class="display-4">My new app</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, fuga.</p>
    <hr class="my-3">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum aspernatur nesciunt, hic recusandae ipsum
        adipisci ipsa ea soluta officia dolores eligendi dolorum vitae veritatis autem?</p>
    <a href="/" class="btn btn-primary btn-lg">Inicio</a>
</div>