<!-- Footer -->
<footer class="footer navbar-expand-lg navbar-dark bg-dark">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="text-center">

                    <!-- Facebook -->
                    <a href="#">
                        <i class="fa fa-facebook-square fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                    </a>
                    <!-- Twitter -->
                    <a href="#">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                    </a>
                    <!-- Google +-->
                    <a href="#">
                        <i class="fa fa-google-plus-official fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true">
                        </i>
                    </a>
                    <!--Linkedin -->
                    <a href="#">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                    </a>
                    <!--Instagram-->
                    <a href="#">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                    </a>
                    <!--Pinterest-->
                    <a href="#">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x" aria-hidden="true"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="text-center py-3" style="background-color:#141414;">© 2019 Copyright:
        <a href="/"> myapp.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->